<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>RoadToCapyChad</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        .w3-third {
            margin-top:150px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">RoadToCapychad</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/index}">Les Programmes</a> </li>
                <li><a th:href="@{/login}">Se connecter</a></li>
                <li><a th:href="@{/registration}">S'inscrire</a></li>
                <li><a th:href="@{/logout}">Se deconnecter</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
        <h3>CapyToutFlasque</h3><br>
        <img src="https://media.discordapp.net/attachments/813869724823846982/1097556222229610536/640px-Capybara_baby_bottle.png?width=773&height=515"
             alt="capyBebe"
             style="width:150px;height:150px;"/>
        <br>
        <b>Pour les débutants</b>
        <p>C'est tes débuts dans le sport ? Ce programme est parfait pour toi, tu dois le faire une fois tous les 2 jours : <br>
            -10min de corde a sauter<br>
            -3 séries de 10 pompes<br>
            -3 séries de 10 squats<br>
            -3 séries de 20 abdos<br>
        </p>
        <br>
        <p>Noter le programme :</p>
        <form method="post" th:action="@{/index}">
            <input type="number" class = "form-control" id ="note3" name = "note3"
                   placeholder="Entrer une note entre 1 et 10" autofocus="autofocus" max="10" min="0">
            <input type="submit" name="login-submit3" id="login-submit3"
                   class="form-control btn btn-success" value="Valider !" />
        </form>
        <div>
            Note: <span th:text="${moyenne3}"></span>
        </div>
    </div>
</div>


    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>CapyBaigneur</h3><br>
            <img src="https://media.discordapp.net/attachments/813869724823846982/1097555202518831265/capyOrange.jpg?width=281&height=281"
                 alt="capyBaigneur"
                 style="width:150px;height:150px;">
            <br>
            <b>Pour les CapyCrawleur</b>
            <p>Pour que tout baigne, réalises ces exercices 3 fois par semaine :<br>
                -10 longueurs de crawl<br>
                -10 longueurs de brasse<br>
                -10 plongeonts 10M<br>
                -10 longueurs de papilon
            </p>
            <br>
            <p>Noter le programme :</p>
            <form method="post" th:action="@{/index}">
                <input type="number" class = "form-control" id ="note2" name = "note2"
                       placeholder="Entrer une note entre 1 et 10" autofocus="autofocus" max="10" min="0">
                <input type="submit" name="login-submit2" id="login-submit2"
                       class="form-control btn btn-success" value="Valider !" />
            </form>
            <div>
                Note: <span th:text="${moyenne2}"></span>
            </div>
        </div>
    </div>


<div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
        <h3>CapyBoss</h3><br>
        <img src="https://media.discordapp.net/attachments/813869724823846982/1097555202246184980/capyChad.jpg?width=312&height=311"
             alt="imageCapyChad"
             style="width:150px;height:150px;">
        <br>
        <b>Pas pour les fiotasses !</b>
        <p>Tu vas morfler avec cette série d'exercices à faire tous les jours :<br>
            -1h de sprint<br>
            -1h de pompes<br>
            -1h de tractions<br>
            -1h de saut en longueur
        </p>
        <br>
        <p>Noter le programme :</p>
        <form method="post" th:action="@{/index}">
            <input type="number" class = "form-control" id ="note" name = "note"
                   placeholder="Entrer une note entre 1 et 10" autofocus="autofocus" max="10" min="0">
            <input type="submit" name="login-submit" id="login-submit"
                   class="form-control btn btn-success" value="Valider !" />
        </form>
        <div>
            Note: <span th:text="${moyenne1}"></span>
        </div>
    </div>
</div>
</body>
</html>

